@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.authInput {
  @apply pl-2 border bg-[#FCFBFC] border-[#DBDBDB] w-[268px] text-xs outline-none h-8 placeholder:text-xs placeholder:font-medium placeholder:text-[#B4B4B4];
}

.full-page-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 50;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  background-color: rgba(255, 255, 255, 0.9);
}

.meta {
  position: absolute;
  bottom: 2rem;
}
